header {
	height: 92px;
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid #F0F0F0;
}
.logo {
	width: 108px;
	height: 27px;
	margin-left: 40px;
	margin-right: 52px;
	display: inline-block;
	background-image: url("/src/assets/YandexDom1x.png");
}
.nav {
	display: flex;
	height: 100%;
}
header a {
	margin-right: 26px;
	line-height: 92px;
	color: #333333;
	opacity: 0.6;
	font-family: "Arial";
	font-weight: bold;

	&.active {
		opacity: 1;
	}
}